//  Cabestan settings framework
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Background
//   3. Typography
//   4. Button
//   5. Menu
//   6. Container


// 1. Global
// ---------

$unit: 					10px; // base du calcul du framework
$primary-color:			#2199e8;
$secondary-color:		#777777;

$light-gray:			#efefef;
$medium-gray:			#cacaca;
$dark-gray:				#8a8a8a;

$black:					#0a0a0a;
$white:					#fefefe;
$rouge:					#ff0000;
$vert:					#00ff00;

$global-width:			580px;
$global-width-small:	95%;
$global-gutter:			16px;
$body-background:		$light-gray;
$container-background:	$white;

// 2. Background
// -------

// 2.1. Line separator background

$line-separator-background-primary:		#ffffff;

$line-separator-background-secondary:	#d9caaf;


// 3. Typography
// -------------

$global-font-family:		'Nespresso Lucas', Helvetica, Arial, sans-serif;
$global-font-family-light:	'Nespresso Lucas Light', Helvetica, Arial, sans-serif;
$global-font-family-bold:	'Nespresso Lucas XtraBd', Helvetica, Arial, sans-serif;
$global-line-height:		1;


// 3.1. Custom title 
$title-font-size:	$unit*3;
$title-color:		#231f20;

// 4. Button
// ---------

$button-padding: $unit $unit*1.5;
$button-background: $white;
$button-border: $unit*.1 solid $black;

// 5. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;
