@import "font.scss";
@import "reset.scss";
@import "specificSelector.scss";
@import "mediaQueries.scss";

@import "settings.scss"; // all defaults elements are here


// Styles pour le inliner ||
// ---------

.background {
	background:	$vert;
}


.title-block-custom {
	font-family:		$global-font-family-bold!important;
	font-size:			$title-font-size!important;
	line-height:		$unit*3.4!important;
	color:				$title-color!important;
	padding:			0 0 $unit*1.8 0!important;
	text-decoration:	none!important;
	text-transform:		uppercase!important;
}

// remplace la classe .fontsize22
/* .title-block-custom-mobile {
	font-size: 			$unit*2.2!important;
    line-height:		$unit*26!important;
    text-align:			center!important;
} */

// Global design

.noPadding {
	padding:$unit*0!important;
}
.noMargin {
	margin:$unit*0!important;
}
.wFull {
	width:100%;
}
.gutter {
	width:$unit*1.5;
}

.btn-style {
	color:		$black;
	background: $button-background;
	border:		$button-border;
	padding:	$button-padding;
}

.line-separator-background-primary {
	background:		$line-separator-background-primary;
	height:			$unit*.2;
	line-height:	$global-line-height;
}

.line-separator-background-secondary {
	background:		$line-separator-background-secondary;
	height:			$unit*.2;
	line-height:	$global-line-height;
}


// fix android

.fixAndroid {
	display:	none;  
	width:		$unit*80 !important; 
	min-width:	$unit*60 !important; 
	max-width:	$unit*80 !important;
}


// background image texte ||
// ---------

.background-image-texte {
	background-image:url("https://www.zantetsuken.fr/image_texte_magique.php");
	background-size: cover; 
	background-position: center;
}
