body {
   font-family: $global-font-family;
   font-size:$unit*1.4;
   line-height: $global-line-height;

   // == Typography area == \\

   p {
      font-size:$unit*1.4;
      line-height: $global-line-height;
      margin-bottom: $unit*2.4;
   }

   // Titles area
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      
   }

   h1 {
      font-size: $unit*5.1;
   }

   h2 {
      font-size: $unit*3.2;
   }

   h3 {
      font-size: $unit*2.6;
      padding: $unit*.5 $unit;
   }

   // Links area
   a {
      color: $link-color;
      text-decoration: none;
   
      &:active,
      &:focus,
      &:hover {
         text-decoration: underline
      }
   }


   // == Elements section area == \\ 
   main {
      background: $white;
      min-height: $unit*20;
   }

   details {
      clear: both;
      display: block;
      margin-bottom: $global-gutter-bottom;
      margin-left: $global-gutter-left;
   }

   summary {
      display: block;
      cursor: pointer;
      color: $link-color;
      margin-left: -$global-gutter-left;
   }

   hr {
      border-top: $unit*.3 solid $link-color;
      height: 0;
      margin: $unit*2 0;
      box-sizing: border-box;
      max-width: 42rem
   }

   blockquote {
      box-sizing: border-box;
      max-width: 42rem;
      font-size: $unit*2.4;
      border: $unit*.3 solid lighten($link-color, 20%);
      border-width: $unit*.3 0;
      padding: $unit*2 0;
      margin: $unit*2 0;
   }


   // 
   // == Properties area == \\ 

   .clear {
      clear: both
   }

   .clear:after {
      content: ' ';
      clear: both;
      display: table
   }

   .align-center {
      text-align: center
   }

   .center {
      margin: 0 auto;
      position: relative;
      max-width: 87.4375em;
      padding-left: $unit*1.5;
      padding-right: $unit*1.5
   }

   .title {
      font-weight: 700;
      color: $medium-gray;
      text-decoration: none;
      display: block
   }

   .smaller {
      font-size: 16px;
      font-size: .88889rem
   }

   .larger {
      font-size: 19px;
      font-size: 1.05556rem
   }

   .hidden,
   .is-hidden {
      display: none
   }


}







// ******************************************************



main>.center {
   padding-top: 30px;
   padding-bottom: 30px
}



.wiki-main-content .center {
   padding-left: 0;
   padding-right: 0
}





.grid-padding {
   padding: 20px
}

.fixed {
   position: fixed;
   top: 0;
   z-index: 10;
   overflow-y: auto
}

.media,
.media-body,
.notification,
.notification-message {
   overflow: hidden;
   zoom: 1
}

.media-side,
.notification-img {
   float: left;
   margin-right: 10px
}

html[dir=rtl] .media-side,
html[dir=rtl] .notification-img {
   float: right;
   margin-right: 0;
   margin-left: 10px
}

.media-side img,
.notification-img img {
   display: block
}

.media-reverse .media-side,
.media-reverse .notification-img {
   float: right;
   margin-left: 10px
}

html[dir=rtl] .media-reverse .media-side,
html[dir=rtl] .media-reverse .notification-img {
   float: left;
   margin-left: 0;
   margin-right: 10px
}

.bump-left-padding {
   padding-left: 40px
}

.full-width {
   display: block;
   width: 100%
}


.subnav .toggler,
.subnav>ol>li>a {
   padding: 20px 40px 20px 20px;
   border-bottom: 1px dotted #d4dde4;
   text-transform: uppercase;
   display: block
}

.subnav ol ol {
   display: none
}

.no-js .subnav ol ol {
   display: block
}

.subnav .toggleable.current,
.subnav>ol>li.current {
   background: #eee
}

.subnav i[class^=icon-] {
   top: 23px
}

.subnav i[class^=icon-] {
   right: 20px
}

html[dir=rtl] .subnav i[class^=icon-] {
   right: auto;
   left: 20px
}

.subnav .toggle-container a {
   font-size: 16px;
   font-size: .88889rem;
   display: block;
   padding: 6px 20px
}

.subnav .toggle-container .toggleable {
   background: #e9eef1
}

.subnav .toggle-container .toggleable .toggler {
   font-weight: 700;
   color: $medium-gray;
   text-decoration: none;
   display: block;
   font-weight: $global-font-weight;
   padding-top: 10px;
   padding-bottom: 10px;
   border: 0
}

.subnav .toggle-container .toggleable .toggler i {
   top: 10px
}

.subnav .toggle-container .toggleable .toggle-container a {
   padding-left: 30px
}

.subnav .toggle-container li.current>a:not(.toggler) {
   position: relative;
   color: $white;
   background-color: $medium-gray
}

.subnav .toggle-container li.current>a:not(.toggler):after,
.subnav .toggle-container li.current>a:not(.toggler):before {
   content: ' ';
   height: 0;
   position: absolute;
   width: 0;
   border: 10px solid transparent
}

.subnav .toggle-container li.current>a:not(.toggler):before {
   border-right-color: $white;
   position: absolute;
   top: 20%;
   right: 0
}

.subnav a {
   text-decoration: none
}

.subnav a:active,
.subnav a:focus,
.subnav a:hover {
   text-decoration: underline
}

ul.option-list {
   clear: both;
   float: left;
   list-style-type: none;
   max-width: 100%;
   overflow: hidden
}

ul.option-list:after {
   content: ' ';
   clear: both;
   display: table
}

ul.option-list {
   padding-left: 20px
}

html[dir=rtl] ul.option-list {
   padding-left: 0;
   padding-right: 20px
}

ul.option-list li {
   clear: both
}

ul.option-list li:after {
   content: ' ';
   clear: both;
   display: table
}

.option-list-options {
   float: right;
   margin-left: $global-gutter-left;;
   text-align: right
}

html[dir=rtl] .option-list-options {
   float: left;
   margin-left: $global-gutter-left;;
   margin-right: 20px;
   text-align: left
}

@media all and (max-width:47.9375em) {
   .option-list-options {
      width: 100%
   }
}

.text-content dl,
.text-content ol,
.text-content ul {
   box-sizing: border-box;
   max-width: 42rem
}

.text-content ul {
   list-style: disc
}

.text-content ul ul {
   list-style: circle
}

.text-content ol ol,
.text-content ol ul,
.text-content ul ol,
.text-content ul ul {
   margin-bottom: 0;
   padding-top: 6px
}

.text-content ol,
.text-content ul {
   margin-bottom: 24px
}

.text-content ol,
.text-content ul {
   padding-left: 40px
}

html[dir=rtl] .text-content ol,
html[dir=rtl] .text-content ul {
   padding-left: 0;
   padding-right: 40px
}

.text-content ol.no-bullets,
.text-content ul.no-bullets {
   list-style-type: none
}

.text-content ol.no-bullets,
.text-content ul.no-bullets {
   padding-left: 0
}

html[dir=rtl] .text-content ol.no-bullets,
html[dir=rtl] .text-content ul.no-bullets {
   padding-left: 0;
   padding-right: 0
}

.text-content ol {
   list-style-type: decimal
}

.text-content li {
   margin-bottom: 6px
}

.text-content>li:last-child {
   padding-bottom: 0
}

.text-content dt {
   font-style: normal;
   font-weight: 700
}

.text-content dd {
   margin-bottom: 24px
}

.text-content dd {
   padding-left: 20px
}

html[dir=rtl] .text-content dd {
   padding-left: 0;
   padding-right: 20px
}

.text-content img.lwrap {
   padding: 0 20px 10px 0
}

.text-content img.rwrap {
   padding: 0 0 10px 20px
}

.text-content article[id=wikiArticle]>div:not([class])>h2,
.text-content article[id=wikiArticle]>h2 {
   position: relative;
   margin-top: 103px
}

.text-content article[id=wikiArticle]>div:not([class])>h2:before,
.text-content article[id=wikiArticle]>h2:before {
   border-top: 3px solid $link-color;
   content: '';
   display: block;
   position: absolute;
   top: -50px;
   width: 100%
}

.text-content article[id=wikiArticle]>div:not([class])>h2:before,
.text-content article[id=wikiArticle]>h2:before {
   left: 0
}

html[dir=rtl] .text-content article[id=wikiArticle]>div:not([class])>h2:before,
html[dir=rtl] .text-content article[id=wikiArticle]>h2:before {
   left: auto;
   right: 0
}

.text-content article[id=wikiArticle]>div:first-child:empty+div:not([class])>h2:first-child,
.text-content article[id=wikiArticle]>div:first-child:empty+h2,
.text-content article[id=wikiArticle]>h2:first-child,
.text-content article[id=wikiArticle]>p:first-child:empty+div:not([class])>h2:first-child,
.text-content article[id=wikiArticle]>p:first-child:empty+h2 {
   margin-top: 0;
   padding-top: 0
}

.text-content article[id=wikiArticle]>div:first-child:empty+div:not([class])>h2:first-child:before,
.text-content article[id=wikiArticle]>div:first-child:empty+h2:before,
.text-content article[id=wikiArticle]>h2:first-child:before,
.text-content article[id=wikiArticle]>p:first-child:empty+div:not([class])>h2:first-child:before,
.text-content article[id=wikiArticle]>p:first-child:empty+h2:before {
   display: none
}

.text-content article[id=wikiArticle]>.summary+h2,
.text-content article[id=wikiArticle]>blockquote+h2,
.text-content article[id=wikiArticle]>hr+h2 {
   margin-top: -23px;
   padding-top: 43px;
   background-color: $white
}

.text-content article[id=wikiArticle]>.summary+h2:before,
.text-content article[id=wikiArticle]>blockquote+h2:before,
.text-content article[id=wikiArticle]>hr+h2:before {
   top: 0
}

.text-content.boxed>h2 {
   position: relative;
   margin-top: 103px
}

.text-content.boxed>h2:before {
   border-top: 3px solid $link-color;
   content: '';
   display: block;
   position: absolute;
   top: -50px;
   width: 100%
}

.text-content.boxed>h2:before {
   left: 0
}

html[dir=rtl] .text-content.boxed>h2:before {
   left: auto;
   right: 0
}

.text-content article[id=wikiArticle]>div:not([class])>h3 .highlight-span,
.text-content article[id=wikiArticle]>h3 .highlight-span,
.text-content article[id=wikiArticle]>h3:not(.highlight-spanned) {
   padding: 0 4px 0 20px
}

html[dir=rtl] .text-content article[id=wikiArticle]>div:not([class])>h3 .highlight-span,
html[dir=rtl] .text-content article[id=wikiArticle]>h3 .highlight-span,
html[dir=rtl] .text-content article[id=wikiArticle]>h3:not(.highlight-spanned) {
   padding: 0 20px 0 4px
}

@media all and (min-width:47.9385em) {
   .text-content article[id=wikiArticle]>div:not([class])>h3 .highlight-span,
   .text-content article[id=wikiArticle]>h3 .highlight-span,
   .text-content article[id=wikiArticle]>h3:not(.highlight-spanned) {
      padding: 0 4px 0 40px
   }
   html[dir=rtl] .text-content article[id=wikiArticle]>div:not([class])>h3 .highlight-span,
   html[dir=rtl] .text-content article[id=wikiArticle]>h3 .highlight-span,
   html[dir=rtl] .text-content article[id=wikiArticle]>h3:not(.highlight-spanned) {
      padding: 0 40px 0 4px
   }
}

.text-content table {
   box-sizing: border-box;
   width: 100%;
   max-width: 100%;
   border-collapse: collapse;
   border: solid #e0e0dc;
   border-width: 1px 0 0 1px
}

.text-content table dl,
.text-content table p,
.text-content table ul {
   max-width: 100%
}

.text-content table.standard-table:not(.learn-box) {
   border: 2px solid $white
}

.text-content table.standard-table:not(.learn-box) td {
   background-color: #f9fafb;
   background-color: rgba(212, 221, 228, .15);
   border: 2px solid $white;
   box-shadow: inset 0 -1px 0 0 rgba(212, 221, 228, .5)
}

.text-content table.standard-table:not(.learn-box):not(.nostripe) tr:nth-child(odd) td {
   background-color: #f4f7f8;
   background-color: rgba(212, 221, 228, .25)
}

.text-content table.standard-table:not(.learn-box) td.header,
.text-content table.standard-table:not(.learn-box) th {
   border: 2px solid $white;
   border-bottom: 2px solid #d4dde4;
   background: #eaeef2;
   background: rgba(212, 221, 228, .5);
   padding: 2px 8px 4px;
   font-family: x-locale-heading-primary, zillaslab, Palatino, "Palatino Linotype", x-locale-heading-secondary, serif;
   font-weight: 700
}

.text-content table.standard-table:not(.learn-box).fullwidth {
   width: 100%
}

.text-content table.fullwidth-table {
   background: $white;
   border-width: 1px;
   border-style: solid;
   border-color: #eaeef2;
   border-color: rgba(212, 221, 228, .5);
   margin-bottom: $global-gutter-bottom;;
   width: 100%
}

.text-content table.fullwidth-table td {
   border: 1px solid #ccc;
   padding: 5px;
   vertical-align: top
}

.text-content table.fullwidth-table td {
   text-align: left
}

html[dir=rtl] .text-content table.fullwidth-table td {
   text-align: right
}

.text-content table.fullwidth-table td.header,
.text-content table.fullwidth-table th {
   background: #eaeef2;
   background: rgba(212, 221, 228, .5);
   border: 1px solid #d4dde4;
   padding: 5px
}

.text-content td,
.text-content th {
   border: solid #e0e0dc;
   border-width: 0 1px 1px 0;
   padding: 6px 8px
}

.text-content td,
.text-content th {
   text-align: left
}

html[dir=rtl] .text-content td,
html[dir=rtl] .text-content th {
   text-align: right
}

.text-content thead th {
   background: #eaeef2;
   background: rgba(212, 221, 228, .5)
}

.text-content div:empty,
.text-content p:empty {
   display: none
}

.text-content p {
   box-sizing: border-box;
   max-width: 42rem
}

.text-content pre {
   box-sizing: border-box;
   width: 100%;
   max-width: 100%
}

.text-content pre dl,
.text-content pre p,
.text-content pre ul {
   max-width: 100%
}

.ui-helper-hidden-accessible {
   display: none
}

.ui-autocomplete {
   background: $white;
   border: 1px solid #e3e3e3;
   border-top: 0;
   cursor: default;
   padding-top: 2px;
   position: absolute;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, .08)
}

.ui-menu {
   float: left;
   list-style: none;
   margin: 0;
   padding: 0
}

.ui-menu .ui-menu-item {
   clear: left;
   float: left;
   margin: 0;
   padding: 0;
   width: 100%;
   zoom: 1
}

.ui-menu .ui-menu-item a {
   display: block;
   line-height: 1.5;
   text-decoration: none;
   zoom: 1
}

.ui-menu .ui-state-active,
.ui-menu .ui-state-focus,
.ui-menu .ui-state-highlight,
.ui-menu .ui-state-hover {
   background: #eee
}

@media all and (max-width:47.9375em) {
   .column-1,
   .column-10,
   .column-11,
   .column-12,
   .column-2,
   .column-3,
   .column-4,
   .column-5,
   .column-6,
   .column-7,
   .column-8,
   .column-9,
   .column-all,
   .column-container>[class^=column-],
   .column-half,
   .column-quarter,
   .column-strip,
   .column-third {
      clear: both
   }
   .column-10:after,
   .column-11:after,
   .column-12:after,
   .column-1:after,
   .column-2:after,
   .column-3:after,
   .column-4:after,
   .column-5:after,
   .column-6:after,
   .column-7:after,
   .column-8:after,
   .column-9:after,
   .column-all:after,
   .column-container>[class^=column-]:after,
   .column-half:after,
   .column-quarter:after,
   .column-strip:after,
   .column-third:after {
      content: ' ';
      clear: both;
      display: table
   }
}

@media all and (min-width:47.9385em) {
   .column-container {
      clear: both
   }
   .column-container:after {
      content: ' ';
      clear: both;
      display: table
   }
   .column-container>[class^=column-] {
      margin-right: 3%;
      min-height: 1px
   }
   .column-container>[class^=column-] {
      float: left
   }
   html[dir=rtl] .column-container>[class^=column-] {
      float: right
   }
   .column-container>[class^=column-]:first-child {
      margin-right: 3%
   }
   html[dir=rtl] .column-container>[class^=column-]:first-child {
      margin-right: 0
   }
   .column-container>[class^=column-]:last-child {
      margin-right: 0
   }
   html[dir=rtl] .column-container>[class^=column-]:last-child {
      margin-right: 3%
   }
   .column-container.column-container-reverse>[class^=column-] {
      float: right
   }
   html[dir=rtl] .column-container.column-container-reverse>[class^=column-] {
      float: left
   }
   .column-container.column-container-reverse>[class^=column-]:first-child {
      margin-right: 0
   }
   html[dir=rtl] .column-container.column-container-reverse>[class^=column-]:first-child {
      margin-right: 3%
   }
   .column-container.column-container-reverse>[class^=column-]:last-child {
      margin-right: 3%
   }
   html[dir=rtl] .column-container.column-container-reverse>[class^=column-]:last-child {
      margin-right: 0
   }
   .column-closed {
      display: none
   }
   .column-1 {
      width: 5.58333%
   }
   .column-2 {
      width: 14.16667%
   }
   .column-3,
   .column-quarter,
   .column-strip {
      width: 22.75%
   }
   .column-4,
   .column-third {
      width: 31.33333%
   }
   .column-5 {
      width: 39.91667%
   }
   .column-6,
   .column-half {
      width: 48.5%
   }
   .column-7 {
      width: 57.08333%
   }
   .column-8 {
      width: 65.66667%
   }
   .column-9,
   .column-main {
      width: 74.25%
   }
   .column-10 {
      width: 82.83333%
   }
   .column-11 {
      width: 91.41667%
   }
   .column-12,
   .column-all {
      width: auto;
      margin: 0;
      float: none
   }
}

.cols-2 {
   -moz-column-count: 2;
   -webkit-column-count: 2;
   column-count: 2;
   -moz-column-gap: 10px;
   -webkit-column-gap: 10px;
   column-gap: 10px
}

.cols-3 {
   -moz-column-count: 3;
   -webkit-column-count: 3;
   column-count: 3;
   -moz-column-gap: 10px;
   -webkit-column-gap: 10px;
   column-gap: 10px
}

.cols-4 {
   -moz-column-count: 4;
   -webkit-column-count: 4;
   column-count: 4;
   -moz-column-gap: 10px;
   -webkit-column-gap: 10px;
   column-gap: 10px
}

.global-notice {
   position: relative;
   margin: 0 0 -1px;
   background: #eee
}

.global-notice .wrap {
   font-size: 16px;
   font-size: .88889rem;
   padding: 10px 24px
}

.global-notice .wrap>p:last-child {
   margin-bottom: 0
}

@media print {
   .global-notice {
      display: none
   }
}

#nav-access {
   width: 100%;
   position: absolute;
   top: -20em;
   z-index: 1001
}

#nav-access a {
   background: $white;
   background: rgba(255, 255, 255, .9);
   padding: 12px 10px;
   position: absolute;
   left: 0;
   right: 0;
   font-weight: 700;
   text-align: center
}

#nav-access a:focus,
#nav-access a:hover {
   box-shadow: 3px 3px 5px #aaa;
   top: 20em;
   text-decoration: none
}

#main-header {
   clear: both;
   position: relative;
   z-index: 96;
   border: 5px solid #83d0f2;
   border-width: 5px 0 0;
   background-color: $white
}

#main-header:after {
   content: ' ';
   clear: both;
   display: table
}

.header-main {
   display: flex;
   flex-direction: column;
   padding: 15px 15px 0
}

@media all and (min-width:47.9385em) {
   .header-main {
      display: block
   }
}

@media all and (min-width:63.9385em) {
   .header-main {
      display: flex;
      flex-direction: row;
      padding-top: 0
   }
   .header-main {
      padding-left: 15px;
      padding-right: 0
   }
   html[dir=rtl] .header-main {
      padding-left: 0;
      padding-right: 15px
   }
}

.logo {
   position: relative;
   z-index: 97;
   width: 170px;
   height: 30px;
   background: url("../../img/web-docs-sprite.22a6a085cf14.svg") 100% 0 no-repeat;
   background-size: 219px auto;
   display: block;
   direction: ltr;
   text-indent: -9999px;
   overflow: hidden;
   flex-shrink: 1
}

@media all and (min-width:47.9385em) {
   .logo {
      display: block;
      position: relative;
      height: 48px
   }
}

@media all and (min-width:63.9385em) {
   .logo {
      background-size: 100% auto;
      margin-top: 15px;
      width: 219px
   }
}

.submenu {
   box-sizing: border-box;
   display: none;
   position: absolute;
   z-index: 99;
   top: 100%;
   width: 250px;
   padding: 15px;
   border-top: 5px solid $light-gray;
   box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
   background-color: $white
}

.submenu {
   right: 0;
   text-align: left
}

html[dir=rtl] .submenu {
   right: auto;
   left: 0;
   text-align: right
}

.submenu.submenu-cols-2 {
   width: 500px
}

.submenu .submenu-column {
   box-sizing: border-box;
   display: inline-block;
   vertical-align: text-top;
   width: 250px
}

.submenu .submenu-column {
   padding-right: 20px
}

html[dir=rtl] .submenu .submenu-column {
   padding-right: 0;
   padding-left: 20px
}

@supports (width:-webkit-max-content) or (width:-moz-max-content) or (width:max-content) {
   .submenu,
   .submenu.submenu-cols-2 {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: -ms-max-content;
      width: max-content
   }
   .submenu .submenu-column {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: -ms-max-content;
      width: max-content
   }
   .submenu .submenu-column+.submenu-column {
      padding-left: 40px
   }
   html[dir=rtl] .submenu .submenu-column+.submenu-column {
      padding-left: 20px;
      padding-right: 40px
   }
}

.submenu .title {
   font-family: x-locale-heading-primary, zillaslab, Palatino, "Palatino Linotype", x-locale-heading-secondary, serif;
   font-size: 24px;
   font-size: 1.33333rem
}

.submenu i[class^=icon-] {
   margin-left: 5px
}

html[dir=rtl] .submenu i[class^=icon-] {
   margin-left: 0;
   margin-right: 5px
}

.submenu a {
   display: block;
   padding: 5px 0;
   margin-bottom: 5px
}

.page-buttons .submenu {
   border-top: 5px solid #9b9b9b
}

.page-buttons .submenu {
   left: auto;
   right: 0
}

html[dir=rtl] .page-buttons .submenu {
   left: auto;
   right: auto;
   right: auto;
   left: 0
}

.submenu-close {
   position: absolute;
   top: 0;
   z-index: 1
}

.submenu-close {
   right: 0
}

html[dir=rtl] .submenu-close {
   right: auto;
   left: 0
}

@media all and (max-width:47.9375em) {
   .nav-main .submenu {
      position: relative;
      width: 100%;
      padding: 0;
      border-top: 0;
      box-shadow: none
   }
   .nav-main .submenu a {
      display: block
   }
   .nav-main .submenu .submenu-column,
   .nav-main .submenu.submenu-cols-2 {
      width: 100%
   }
   .nav-main .submenu .submenu-column+.submenu-column,
   .nav-main .submenu.submenu-cols-2+.submenu-column {
      padding-left: 0
   }
   html[dir=rtl] .nav-main .submenu .submenu-column+.submenu-column,
   html[dir=rtl] .nav-main .submenu.submenu-cols-2+.submenu-column {
      padding-left: 0;
      padding-right: 0
   }
}

@media all and (min-width:74.9375em) {
   .submenu-close {
      display: none
   }
}

.nav-toolbox-wrapper {
   display: block
}

@media all and (min-width:47.9385em) {
   .nav-toolbox-wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 24px;
      border-top: 5px solid #eee
   }
   .nav-toolbox-wrapper .toolbox {
      text-align: right
   }
   html[dir=rtl] .nav-toolbox-wrapper .toolbox {
      text-align: left
   }
}

@media all and (min-width:63.9385em) {
   .nav-toolbox-wrapper {
      margin-top: 0;
      border-top: 0;
      flex-grow: 2;
      flex-shrink: 2
   }
}

.nav-toolbox-wrapper.hidden {
   display: none
}

.toolbox {
   display: block;
   position: relative;
   z-index: 97
}

@media all and (min-width:47.9385em) {
   .toolbox {
      flex-grow: 2;
      flex-shrink: 2
   }
}

@media all and (min-width:63.9385em) {
   .toolbox {
      text-align: right
   }
   .toolbox>ul>li>a {
      padding: 0 10px
   }
   .toolbox>ul>li>a {
      color: $medium-gray
   }
   .toolbox>ul>li>a:focus,
   .toolbox>ul>li>a:hover {
      color: $medium-gray
   }
}

.toolbox.hidden {
   display: none
}

.nav-tools {
   display: none
}

@media all and (min-width:63.9385em) {
   .nav-tools {
      display: inline-block;
      position: relative;
      border: 0
   }
   .nav-tools>a {
      display: inline-block;
      line-height: 88px;
      padding: 0 10px
   }
   html:not(.no-js) .nav-tools>a {
      text-decoration: none
   }
   html:not(.no-js) .nav-tools>a i[class^=icon-] {
      display: inline-block;
      float: none;
      margin-left: 5px
   }
   html[dir=rtl]:not(.no-js) .nav-tools>a i[class^=icon-] {
      margin-right: 5px
   }
   .nav-tools>a:focus,
   .nav-tools>a:hover {
      background-color: $light-gray;
      color: $medium-gray
   }
}

@media all and (min-width:47.9385em) {
   .nav-login {
      display: inline-block
   }
}

@media all and (max-width:47.9375em) {
   .login {
      border-bottom: 1px solid $medium-gray
   }
   .login>a {
      display: block;
      padding: 6px 0
   }
   .login>a i[class^=icon-] {
      float: right
   }
   html[dir=rtl] .login>a i[class^=icon-] {
      float: left
   }
   .login .submenu {
      position: relative;
      width: 100%;
      padding: 0;
      border-top: 0;
      box-shadow: none
   }
   .login .submenu a {
      display: block
   }
   .login-form {
      display: block;
      margin: 6px 0
   }
   .button.logout {
      display: block
   }
   .login-photo {
      display: none
   }
}

@media all and (min-width:47.9385em) {
   .login-name {
      display: none
   }
   .login {
      display: inline-block;
      position: relative;
      border: 0
   }
   .login>a {
      display: inline-block;
      line-height: 88px;
      padding: 0 10px
   }
   html:not(.no-js) .login>a {
      text-decoration: none
   }
   html:not(.no-js) .login>a i[class^=icon-] {
      display: inline-block;
      float: none;
      margin-left: 5px
   }
   html[dir=rtl]:not(.no-js) .login>a i[class^=icon-] {
      margin-right: 5px
   }
   .login>a:focus,
   .login>a:hover {
      background-color: $light-gray;
      color: $medium-gray
   }
   .login>a {
      color: $medium-gray
   }
   .login>a:focus,
   .login>a:hover {
      text-decoration: underline
   }
   .login-photo {
      border-radius: 50%;
      max-width: 50px;
      max-height: 50px;
      vertical-align: middle;
      overflow: hidden
   }
}

@media all and (min-width:47.9385em) {
   .login>a {
      padding: 0 10px
   }
}

.nav-main {
   display: block;
   position: relative;
   z-index: 95
}

@media all and (min-width:47.9385em) {
   .nav-main {
      min-height: 88px
   }
}

@media all and (min-width:63.9385em) {
   .nav-main {
      min-height: 0;
      padding-top: 0
   }
   .nav-main:after {
      display: none
   }
}

html:not(.no-js) .nav-main-item>a {
   color: $medium-gray;
   text-decoration: none
}

.expanded .nav-main {
   flex-grow: 2;
   flex-shrink: 2
}

.nav-main-item {
   border-bottom: 1px solid $medium-gray
}

.nav-main-item>a {
   display: block;
   padding: 6px 0
}

.nav-main-item>a i[class^=icon-] {
   float: right
}

html[dir=rtl] .nav-main-item>a i[class^=icon-] {
   float: left
}

@media all and (min-width:47.9385em) {
   .nav-main-item {
      display: inline-block;
      position: relative;
      border: 0
   }
   .nav-main-item>a {
      display: inline-block;
      line-height: 88px;
      padding: 0 10px
   }
   html:not(.no-js) .nav-main-item>a {
      text-decoration: none
   }
   html:not(.no-js) .nav-main-item>a i[class^=icon-] {
      display: inline-block;
      float: none;
      margin-left: 5px
   }
   html[dir=rtl]:not(.no-js) .nav-main-item>a i[class^=icon-] {
      margin-right: 5px
   }
   .nav-main-item>a:focus,
   .nav-main-item>a:hover {
      background-color: $light-gray;
      color: $medium-gray
   }
}

@media all and (min-width:63.9385em) {
   .nav-main-item>a {
      padding: 0 10px
   }
}

.nav-main-search {
   display: block;
   position: relative;
   background-color: transparent
}

@media all and (min-width:47.9385em) {
   .nav-main-search {
      position: absolute;
      top: 15px;
      min-width: 100px
   }
   .nav-main-search {
      right: 15px
   }
   html[dir=rtl] .nav-main-search {
      right: auto;
      left: 15px
   }
}

@media all and (min-width:63.9385em) {
   .nav-main-search {
      display: inline-block;
      background-color: #222;
      position: relative;
      top: 0;
      vertical-align: top
   }
   .nav-main-search {
      right: auto
   }
   html[dir=rtl] .nav-main-search {
      right: auto;
      left: auto
   }
}

.nav-main-search input[type=search] {
   color: $medium-gray;
   margin: 6px auto;
   width: 100%
}

.nav-main-search input[type=search] {
   padding-left: 2.5em
}

html[dir=rtl] .nav-main-search input[type=search] {
   padding-left: 0;
   padding-right: 2.5em
}

@media all and (min-width:63.9385em) {
   .nav-main-search input[type=search] {
      background-color: #222;
      color: $white;
      border: 0;
      border-bottom: 1px solid $white;
      border-radius: unset;
      -webkit-appearance: none;
      outline: 0
   }
   .nav-main-search input[type=search] {
      margin-right: 50px;
      margin-left: 75px
   }
   html[dir=rtl] .nav-main-search input[type=search] {
      margin-right: 75px;
      margin-left: 50px
   }
   .nav-main-search input[type=search] {
      padding-left: 0
   }
   html[dir=rtl] .nav-main-search input[type=search] {
      padding-left: 0;
      padding-right: 0
   }
}

@media all and (min-width:74.9375em) {
   .nav-main-search input[type=search] {
      width: 335px
   }
}

@media all and (min-width:63.9385em) and (max-width:74.9375em) {
   .nav-main-search input[type=search] {
      width: 255px
   }
   .nav-main-search input[type=search] {
      margin-right: 15px;
      margin-left: 15px
   }
   html[dir=rtl] .nav-main-search input[type=search] {
      margin-right: 15px;
      margin-left: 15px
   }
}

.search-trigger {
   position: absolute;
   top: 12px;
   z-index: 2
}

.search-trigger {
   left: 15px
}

html[dir=rtl] .search-trigger {
   left: auto;
   right: 15px
}

@media all and (min-width:63.9385em) {
   .search-trigger {
      position: absolute;
      top: 5px;
      color: $white
   }
   .search-trigger {
      left: 30%;
      right: auto
   }
   html[dir=rtl] .search-trigger {
      left: 30%;
      right: auto
   }
}

.search-trigger i[class^=icon-] {
   cursor: pointer
}

@media all and (min-width:63.9385em) {
   .search-trigger i[class^=icon-] {
      font-size: 32px;
      font-size: 1.77778rem
   }
}

.close-header-search {
   display: none
}

html[lang=de] .nav-main-search {
   min-width: 80px
}

.search-form {
   display: block;
   margin: 20px auto 40px auto;
   padding: 0;
   position: relative;
   width: 100%;
   max-width: 775px
}

.search-form.home-search-form {
   margin: 40px auto
}

.search-form>input#home-q,
.search-form>input#search-q {
   display: block;
   width: 100%;
   margin: 0 auto;
   padding: 10px;
   background: $white;
   font-size: 19px;
   font-size: 1.05556rem
}

.search-form>input#home-q,
.search-form>input#search-q {
   padding-left: 48px
}

html[dir=rtl] .search-form>input#home-q,
html[dir=rtl] .search-form>input#search-q {
   padding-left: 0;
   padding-right: 48px
}

.search-form>input#home-q::-webkit-input-placeholder,
.search-form>input#search-q::-webkit-input-placeholder {
   color: $medium-gray
}

.search-form>input#home-q:-ms-input-placeholder,
.search-form>input#search-q:-ms-input-placeholder {
   color: $medium-gray
}

.search-form>input#home-q::-moz-placeholder,
.search-form>input#search-q::-moz-placeholder {
   color: $medium-gray
}

.search-form>input#home-q::placeholder,
.search-form>input#search-q::placeholder {
   color: $medium-gray
}

.search-form .search-icon {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 48px;
   display: flex;
   align-items: center;
   justify-content: center
}

.search-form .search-icon {
   left: 0
}

html[dir=rtl] .search-form .search-icon {
   left: auto;
   right: 0
}

.search-form .search-icon:after {
   content: '';
   position: absolute;
   top: 10px;
   bottom: 10px;
   display: block;
   border-left: 1px solid #9b9b9b
}

.search-form .search-icon:after {
   left: 40px
}

html[dir=rtl] .search-form .search-icon:after {
   left: auto;
   right: 40px
}

@media all and (min-width:63.9385em) {
   .search-form.home-search-form {
      margin: 0 auto 30px auto
   }
   .search-form>input#home-q,
   .search-form>input#search-q {
      padding: 20px
   }
   .search-form>input#home-q,
   .search-form>input#search-q {
      padding-left: 70px
   }
   html[dir=rtl] .search-form>input#home-q,
   html[dir=rtl] .search-form>input#search-q {
      padding-left: 0;
      padding-right: 70px
   }
   .search-form .search-icon {
      width: 60px
   }
   .search-form .search-icon:after {
      top: 20px;
      bottom: 20px
   }
   .search-form .search-icon:after {
      left: 54px
   }
   html[dir=rtl] .search-form .search-icon:after {
      left: auto;
      right: 54px
   }
}

.document-head {
   position: relative;
   z-index: 88;
   clear: both;
   background-color: #f5f9fa;
   padding: 30px 0 30px 0
}

.document-title h1 {
   font-size: 32px;
   font-size: 1.77778rem
}

.document-title em {
   font-style: normal;
   text-transform: none
}

.document-title em {
   margin-left: -3px
}

html[dir=rtl] .document-title em {
   margin-left: 0;
   margin-right: -3px
}

.document-actions {
   padding-bottom: 0
}

.document-actions {
   text-align: right
}

html[dir=rtl] .document-actions {
   text-align: left
}

.document-actions .page-buttons {
   float: none
}

html[dir=rtl] .document-actions .page-buttons {
   float: none
}

.title-prefix {
   font-size: 24px;
   font-size: 1.33333rem;
   display: block;
   color: #696969
}

.title-properties button.link {
   font-size: 16px;
   font-size: .88889rem;
   font-weight: 700
}

.title-locale {
   font-size: 16px;
   font-size: .88889rem
}

.nav-footer {
   clear: both;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: #222;
   color: $white
}

.nav-footer:after {
   content: ' ';
   clear: both;
   display: table
}

.nav-footer a {
   color: #83d0f2
}

.footer-title {
   display: none
}

.footer-group {
   clear: both;
   border-bottom: 1px solid $white;
   padding-bottom: 15px;
   margin-bottom: 15px
}

.footer-group:after {
   content: ' ';
   clear: both;
   display: table
}

.footer-group a {
   display: inline-block;
   padding: 10px 0
}

.footer-social {
   font-size: 24px;
   font-size: 1.33333rem;
   display: inline-block
}

.footer-social {
   margin-right: 10px
}

html[dir=rtl] .footer-social {
   margin-right: 0;
   margin-left: 10px
}

.footer-social a {
   padding-right: 20px
}

html[dir=rtl] .footer-social a {
   padding-right: 0;
   padding-left: 20px
}

.languages {
   clear: both;
   border-bottom: 1px solid $white;
   padding-bottom: 15px;
   margin-bottom: 15px
}

.languages:after {
   content: ' ';
   clear: both;
   display: table
}

.languages label {
   font-size: 14px;
   font-size: .77778rem
}

.footer-tos {
   font-size: 19px;
   font-size: 1.05556rem;
   margin-bottom: 15px
}

.footer-tos li {
   display: inline-block
}

.footer-tos li {
   margin-right: 20px
}

html[dir=rtl] .footer-tos li {
   margin-right: 0;
   margin-left: $global-gutter-left;
}

@media all and (min-width:47.9385em) {
   .nav-footer {
      padding-top: 24px;
      padding-bottom: 24px
   }
   .nav-footer-logo,
   .nav-footer-mozilla {
      margin-bottom: 24px
   }
   .footer-title {
      display: none
   }
   .footer-group {
      padding-bottom: 24px;
      margin-bottom: 24px
   }
   .footer-group a {
      padding: 5px 0
   }
   .footer-social a {
      padding-right: 10px
   }
   html[dir=rtl] .footer-social a {
      padding-right: 0;
      padding-left: 10px
   }
   .languages {
      clear: both;
      padding-bottom: 24px;
      margin-bottom: 24px
   }
   .languages:after {
      content: ' ';
      clear: both;
      display: table
   }
   .languages select {
      max-width: 22.75%
   }
   .footer-tos {
      margin-bottom: 24px
   }
}

@media all and (min-width:63.9385em) {
   .nav-footer {
      position: relative;
      padding: 60px 20px
   }
   .nav-footer-logo,
   .nav-footer-mozilla {
      margin-bottom: 40px
   }
   .footer-title {
      display: block;
      font-size: 20px;
      font-size: 1.11111rem;
      font-family: Arial, x-locale-body, sans-serif;
      letter-spacing: -.00278rem
   }
   .footer-group {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0
   }
   .footer-group-mdn {
      position: absolute;
      top: 20px;
      width: 22.75%
   }
   .footer-group-mdn {
      left: 39.91667%
   }
   html[dir=rtl] .footer-group-mdn {
      left: auto;
      right: 39.91667%
   }
   .footer-group-mozilla {
      position: absolute;
      top: 20px;
      width: 22.75%
   }
   .footer-group-mozilla {
      left: 65.66667%
   }
   html[dir=rtl] .footer-group-mozilla {
      left: auto;
      right: 65.66667%
   }
   .languages {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: $global-gutter-bottom;
   }
   .languages label {
      display: block
   }
   .footer-tos {
      margin-bottom: $global-gutter-bottom;
   }
}

@media print {
   .nav-footer {
      display: none
   }
}

.contentinfo {
   font-size: 14px;
   font-size: .77778rem
}

.contentinfo p {
   display: inline
}

@media all and (min-width:63.9385em) {
   .contentinfo {
      width: 31.33333%
   }
}

.socialaccount-providers li {
   margin: 0 20px 0 0;
   display: inline-block
}

.socialaccount-providers li span.signin {
   min-width: 140px
}

#feature-test-element {
   position: absolute;
   left: 0;
   top: -999999px;
   width: 0;
   height: 0;
   overflow: hidden;
   z-index: 1
}

@media all and (max-width:74.9375em) {
   #feature-test-element {
      z-index: 2
   }
}

@media all and (max-width:63.9375em) {
   #feature-test-element {
      z-index: 3
   }
}

@media all and (max-width:47.9375em) {
   #feature-test-element {
      z-index: 4
   }
}

ol.pagination {
   margin: 20px 0;
   padding: 0 0 30px 0
}

ol.pagination li {
   padding: 0 2px
}

ol.pagination li {
   float: left
}

html[dir=rtl] ol.pagination li {
   float: right
}

ol.pagination li.prev,
ol.pagination li.prev a {
   padding-left: 0
}

html[dir=rtl] ol.pagination li.prev,
html[dir=rtl] ol.pagination li.prev a {
   padding-left: inherit;
   padding-right: 0
}

ol.pagination li a {
   padding: 3px 8px 5px
}

ol.pagination li a {
   float: left
}

html[dir=rtl] ol.pagination li a {
   float: right
}

ol.pagination li a:hover {
   text-decoration: underline
}

ol.pagination li.selected a {
   background: $link-color;
   color: $white;
   border-radius: 5px
}

#wikiArticle>p:first-child:empty {
   display: none
}

#wikiArticle {
   padding-bottom: 20px;
   border-bottom: 3px solid #3d7e9a
}

p.field-explanation {
   margin-bottom: 0
}

#content-main.full {
   clear: both;
   float: none;
   width: 100%
}

.main {
   float: left;
   width: 670px
}

@media all and (max-width:47.9375em) {
   .header-clear {
      display: none
   }
}

.form-group {
   margin-bottom: $global-gutter-bottom;
}

ul.tags li {
   background: $light-gray;
   border: 1px solid #cee9f9;
   border-radius: 2px;
   display: inline-block;
   padding: 3px 10px 4px
}

ul.tags li {
   margin: 0 10px 10px 0
}

html[dir=rtl] ul.tags li,
ul.tags html[dir=rtl] li {
   margin: 0 0 10px 10px
}

ul.tags {
   background-color: transparent;
   border: none;
   clear: both;
   margin-bottom: 0;
   width: 100%
}

ul.tags {
   padding-left: 0
}

html[dir=rtl] ul.tags {
   padding-left: 0;
   padding-right: 0
}

.user-edit ul.tags,
.wiki-block ul.tags {
   margin-bottom: -10px
}

ul.tags li label {
   margin-bottom: 0
}

ul.tags li a {
   color: #285c76
}

ul.tags-small li {
   padding: 1px 3px
}

ul.tags-small li {
   margin: 0 6px 6px 0
}

html[dir=rtl] ul.tags-small li {
   margin: 0 0 6px 6px
}

.tag-attach-list .tags-small {
   clear: none;
   display: inline
}

ul.errorlist {
   color: #900;
   font-weight: 700
}

ul.errorlist li {
   margin: 5px 0
}

.notification.error .errorlist {
   color: $medium-gray
}

.compact dt {
   display: inline;
   font-weight: 700
}

.compact dd {
   display: inline;
   margin-bottom: 0
}

.compact dd {
   padding-left: 8px
}

html[dir=rtl] .compact dd {
   padding-left: 0;
   padding-right: 8px
}

.compact dd:after {
   content: '\A';
   white-space: pre
}
